@import "../styles";

$acl-border-grey: #888888;
$acl-border-light-grey: #ADADAD;
$wifi-green: #00AD00;

.acl {
  white-space: nowrap;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  margin: 2px;
  flex-grow: 1;
  border: 3px solid $acl-border-grey;
  outline: 1px solid $acl-border-light-grey;
  color: $edst-font-grey;
}

.acl-body {
  white-space: nowrap;
  overflow: hidden;
  flex-flow: column;
  display: flex;
  //flex-flow: column;
  /*scrollbar-width: none;  !* Firefox *!*/
  color: $edst-font-grey;

  *img {
    width: 8px;
    object-fit: contain;
  }
}

.wifi-symbol {
  background-image: url(../images/VCI_v2.png);
}