
:root {
    --acl-border-grey: #888888;
    --acl-outline-grey: #ADADAD;
    --acl-button-border-grey: #ADADAD;
    --acl-button-disabled-font-grey: #707070;
    --acl-button-disabled-border-grey: #707070;
    --acl-font-yellow: #adad00;
    --acl-font-red: #ad0000;
    --acl-font-orange: #ad5700;
    --acl-window-open-light-grey: #595958;
    --acl-window-closed-black: #000000;
}

.acl {
    margin: 2px;
    flex-grow: 1;
    border: 3px solid var(--acl-border-grey);
    outline: 1px solid var(--acl-outline-grey);
    font-family: Consolas, monospace;
    color: var(--edst-font-grey);
}

.acl-body {
    display: flex;
}

.acl-body .acl-body-row {
    display: inline-flex;
    align-items: center;
    height: 28px;
    flex-grow: 1;
    padding: 0 40px;
}

.acl-body .acl-body-row.border {
    border-top: 1px solid var(--edst-window-header-border-light-grey);
    border-bottom: 1px solid var(--edst-window-header-border-light-grey);
}

.acl-body .acl-body-row .acl-body-col {
     
}
