@import "../styles";

$floating-window-background-dark-grey: #575757;
$floating-window-medium-grey: #919191;
$floating-window-light-grey: #ADADAD;
$floating-window-row-fg-color: #919191;

.floating-window {
  position: absolute;
  color: $floating-window-light-grey;

  .floating-window-body {
    background-color: #000000;
    padding: 0 0 4px 6px;
    border-left: 1px solid $floating-window-light-grey;
    border-bottom: 1px solid $floating-window-light-grey;
    border-right: 1px solid $floating-window-light-grey;
    display: flex;
    flex-flow: column;

    .floating-window-outer-row {

      &.sigmet {
        margin: 6px 0;
      }

      .floating-window-row {
        //min-height: 20px;
        justify-content: center;
        padding: 0 30px 0 10px;
        border: 1px solid transparent;
        color: $floating-window-row-fg-color;

        &.suppressed {
          color: $floating-window-background-dark-grey;
        }

        &.margin {
          margin: 4px 21px 0 0;
        }

        &.selected {
          background-color: $floating-window-row-fg-color;
          color: #000000;
        }

        .altim-col {
          margin: 0 4px;

          &.altim-report-station-col {
            margin: 0 20px 0 12px;
          }

          &.altim-underline {
            text-decoration: underline;
          }
        }

        &:hover {
          border: 1px solid #FFFFFF;
        }
      }
    }
  }

  &.altimeter-window {
    width: 180px;
  }

  &.sigmet-window {
    width: 1100px;
  }

  &.metar-window {
    width: 400px;
  }

  &.status-window {
    width: 360px;
  }

  &.outage-window {
    width: 340px;
  }

  .floating-window-header {
    background-color: $floating-window-background-dark-grey;
    justify-content: space-between;
    display: flex;
    height: 20px;

    div {
      background-color: $floating-window-background-dark-grey;
      border: 1px solid $floating-window-light-grey;

      &:hover {
        border: 1px solid #FFFFFF;
      }
    }

    .floating-window-header-left {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
    }

    .floating-window-header-middle {
      display: inline-flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    .floating-window-header-right {
      justify-content: center;
      align-items: center;
      display: inline-flex;
      width: 20px;
    }
  }
}

.floating-window-options {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: auto;
  width: 140px;
}

.floating-window-option {
  //position: absolute;
  display: inline-flex;
  height: 18px;
  background-color: $floating-window-background-dark-grey;
  border: 1px solid $floating-window-light-grey;
  text-indent: 4px;

  &.unselected {
    background-color: #000000;
  }

  &:hover {
    border: 1px solid #FFFFFF;
  }
}

.floating-window-header-block-6-2 {
  width: 6px;
  height: 0;
  background-color: $floating-window-light-grey;
}

.mca {
  height: 84px;
  width: 400px;
  background-color: #000000;
  border: 1px solid $floating-window-light-grey;

  .mca-input-area {
    line-height: 1;
    width: 100%;
    height: 40%;
    border-bottom: 1px solid $floating-window-light-grey;

    input {
      width: 98%;
    }
  }

  .mca-response-area {
    line-height: 1;
    padding: 2px;
    display: flex;
    flex-grow: 1;
    white-space: pre-line;

    .green {
      color: $edst-font-green;
    }

    .red {
      color: $edst-font-red;
    }
  }
}

.mra {
  line-height: 1;
  padding: 0 2px;
  height: 80px;
  width: 340px;
  background-color: #000000;
  border: 1px solid $floating-window-light-grey;
  overflow-wrap: anywhere;
  white-space: pre-line;
}