@import "../styles";

.circle-icon {
  background-image: url("../../resources/images/Circle.svg");
}

.diamond-icon {
  background-image: url("../../resources/images/Diamond.svg");
}

.square-icon {
  background-image: url("../../resources/images/Square.svg");
}

.aircraft-track-line {
  background: transparent;

  .line {
    transform: translate(1px, -5px) rotate(-45deg);
    height: 1px;
    width: 30px;
    background-color: #ADADAD;
  }
}