@import "../styles";
@import "../resources/button";

$options-menu-medium-grey: #575757;
$options-menu-dark-grey: #414141;
$options-menu-background-medium-grey: #888888;
$options-menu-light-grey: #ADADAD;
$options-menu-hover-white: #F0F0F0;
$route-menu-alert-cyan: #00ADAD;

.options-menu {
  position: absolute;
  color: $options-menu-light-grey;
  border: none;

  &.sort-acl {
    width: 220px;
  }

  &.sort-dep {
    width: 150px;
  }

  &.plan {
    width: 220px;
  }

  &.route {
    width: 570px;
  }

  &.prev-route {
    width: 380px;
    overflow: hidden;
  }

  &.hold {
    width: 420px;
  }

  &.cancel-hold {
    width: 250px;
  }

  &.speed {
    width: 180px;
  }

  &.heading {
    width: 180px;
  }

  &.template {
    width: 850px;
  }
}

.options-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $options-menu-background-medium-grey;
  color: #000000;
  height: 17px;
  border-top: 1px solid $options-menu-light-grey;
  border-left: 1px solid $options-menu-light-grey;
  border-bottom: 1px solid $options-menu-medium-grey;
  border-right: 1px solid $options-menu-medium-grey;
  font-weight: bolder;

  &.focused {
    background-color: $edst-window-light-cyan;
  }
}

.options-body {
  background-color: #000000;
  padding: 2px 0;
  border-top: 1px solid $options-menu-medium-grey;
  border-left: 1px solid $options-menu-medium-grey;
  border-bottom: 1px solid $options-menu-dark-grey;
  border-right: 1px solid $options-menu-dark-grey;

  &.template-body {
    padding: 10px 0 2px 0;
  }

  &.sort {
    padding: 4px 0;
  }

  &.tools {
    padding: 20px 0 4px 0;
  }

  .hold-fix-container {
    padding: 4px 0;
    border-bottom: 1px solid $options-menu-light-grey;
  }

  .prefroute-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 2px solid $options-menu-dark-grey;
    overflow: hidden;
    margin: 6px;
  }

  @mixin options-row {

    display: flex;
    flex-grow: 1;
    justify-content: left;
    align-items: center;
    padding: 0 4px;
    border: none;
    min-height: 20px;
    overflow: hidden;
  }

  .options-row {
    @include options-row;

    * a {
      height: auto;
    }

    img {
      max-width: 24px;
      max-height: 24px;
      //transform: scale(0.2);
    }

    &.present-headging-row {
      justify-content: center;
      margin-top: 8px;

      .edst-outer-button .edst-inner-button {
        padding: 0 12px;
      }
    }

    &.hold-row-1 {
      justify-content: space-between;
    }

    &.hold-row-2 {
      //margin-top: 20px;
      padding: 6px 0;
    }

    &.bottom {
      //padding: 0;
      margin: 0;
    }

    &.fid {
      pointer-events: none;
      justify-content: center;
      height: 40px;
    }

    &.sector {
      padding-bottom: 4px;
      margin-bottom: 20px;
      border-bottom: 1px solid $options-menu-light-grey;
    }

    &.underline {
      pointer-events: none;
      justify-content: center;
      height: 30px;
      margin-bottom: 4px;

      &:before {
        content: "";
        position: absolute;
        width: 18%;
        height: 30px;
        //bottom: 0;
        left: 41%;
        border-bottom: 1px solid $options-menu-light-grey;
      }
    }

    &.bottom {
      overflow: unset;
      text-overflow: unset;
      white-space: unset;
      margin-top: 10px;
      //margin-right: 4px;
      margin-bottom: 4px;
      flex-grow: 1;

      .left .edst-outer-button {
        margin-right: 12px;

        .edst-inner-button {
          padding: 0 6px;
        }
      }

      .right .edst-outer-button {
        min-width: 47px;
      }

      &.margin-top {
        margin-top: 20px;
      }
    }

    &.route-row {
      padding: 4px 0;
    }

    &.prev-route-row {
      padding: 0 8px;
    }

    &.speed-row {
      padding: 4px 0;
      //margin-bottom: 2px;
    }

    &.top-border {
      border-top: 1px solid $options-menu-light-grey;
    }

    &.bottom-border {
      border-bottom: 1px solid $options-menu-light-grey;
    }

    &.prefroute-row {
      padding: 0 0 0 10px;
      margin: 0;
    }
  }

  .template-row {

    padding: 2px 12px;
    display: flex;
    flex-grow: 1;
    border: none;
    overflow: hidden;

    .template-col {

      //flex-grow: 1;
      //flex-flow: row;
      align-items: center;
      vertical-align: center;
      //margin: 0 2px;
      padding: 0 2px;
      justify-content: left;
      //width: 50px;
      display: flex;
      flex-shrink: 0;

      &.header {
        text-indent: 6px;
      }

      &.col-1 {
        width: 90px;
      }

      &.col-2 {
        width: 50px;
      }

      &.col-3 {
        width: 50px;
      }

      &.col-4 {
        width: 60px;
      }

      &.col-5 {
        width: 66px;
      }

      &.col-6 {
        width: 60px;
      }

      &.col-7 {
        width: 70px;
      }

      &.col-8 {
        width: 120px;
      }

      &.col-9 {
        width: 70px;
      }

      &.col-10 {
        flex-grow: 1;
        flex-shrink: 1;
        width: auto;
      }

      &.bottom {
        padding: 2px;
      }

      &.right {
        width: auto;
        margin-left: auto;
        //padding: 0 2px;
        //margin-right: 2px;
      }
    }

    .input-container {
      @include input-container;
      flex-grow: 1;
      width: auto;
    }

    &.left {
      flex-grow: 1;
    }

    &.right {
      width: auto;
    }
  }

  *[disabled] {
    pointer-events: none;
    color: $options-menu-medium-grey;
  }

  *.hover:hover {
    border: 1px solid $options-menu-hover-white;
  }

  .options-col {

    margin: 0 4px;
    flex-grow: 1;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    border: 1px solid transparent;
    //padding: 2px 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.img {
      max-width: 24px;
      max-height: 24px;
    }

    &.display-route {
      border: 2px solid $options-menu-dark-grey;
      margin: 2px 8px 8px 8px;
    }

    &.dct-col {
      height: 18px;
      padding: 0 4px;
      flex-grow: 0;
      width: 100px;
      margin: 0 12px;
    }

    &.hold-col-1 {
      justify-content: left;
      display: inline-flex;
      height: 18px;
      padding: 0 4px;
      flex-grow: 0;
      width: 110px;
      margin: 0 12px;

      .align-right {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        justify-content: right;
      }

      &.selected {
        background-color: $options-menu-light-grey;
        color: #000000;
      }
    }

    &.hold-col-2 {
      justify-content: left;
      flex-grow: 0;
      margin: 5px auto 5px 8px;
      border-bottom: 1px solid $options-menu-light-grey;
    }

    &.hold-col-3 {
      justify-content: left;
      //display: flex;
      margin-top: 2px;

      .button-1 {
        margin: 0 4px;

        .edst-inner-button {
          flex-grow: 0;
          width: 20px;
          //height: 18px;
        }
      }

      .button-2 {
        margin: 0 4px;

        .edst-inner-button {
          width: 50px;
          //height: 20px;
        }
      }

      *[disabled] {
        pointer-events: none;
        border-color: transparent;
      }
    }

    &.hold-col-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 80px;

      * .edst-inner-button {
        padding: 0 20px;
      }
    }

    &.hold-col-5 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 140px;

      * .edst-inner-button {
        padding: 0 20px;
      }
    }

    &.hold-col-6 {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-left: 10px;
      margin-right: auto;
    }

    &.hold-col-7 {
      //display: flex;
      justify-content: left;
      align-items: center;
      margin-left: 10px;
      margin-right: auto;

      .edst-outer-button {
        margin-left: 10px;

        .edst-inner-button {
          width: 24px;
        }
      }
    }

    .box {
      border-bottom: 2px solid $options-menu-medium-grey;
      border-right: 2px solid $options-menu-medium-grey;
      border-top: 2px solid $options-menu-background-medium-grey;
      border-left: 2px solid $options-menu-background-medium-grey;
      width: 8px;
      height: 8px;
      margin-right: 6px;

      &.selected {
        background-color: $options-menu-light-grey;
        border-bottom: 2px solid $options-menu-background-medium-grey;
        border-right: 2px solid $options-menu-background-medium-grey;
        border-top: 2px solid $options-menu-medium-grey;
        border-left: 2px solid $options-menu-medium-grey;
      }

      &.diamond {
        width: 6px;
        height: 6px;
        transform: rotate(45deg);
      }
    }

    &.tools {
      justify-content: left;
      display: inline-flex;
      height: 22px;
      padding: 0 2px;

      &:hover {
        border: 1px solid $options-menu-light-grey;
      }
    }

    &.sort {
      justify-content: left;
      display: inline-flex;
      height: 22px;
      padding: 0 6px;

      &:hover {
        border: 1px solid $options-menu-light-grey;
      }
    }

    &.button {
      //width: 120px;
      padding: 0 4px;
      display: flex;
      flex-grow: 0;
      min-height: 24px;

      *.edst-outer-button {
        padding: 0 4px;
        margin-right: 5px;
      }
    }

    &.hold-menu-left-col {
      margin-left: 10px;
      flex-grow: 0;
      padding: 0;
      border-bottom: 1px solid $options-menu-light-grey;
    }

    &.prefroute-col {
      align-items: center;
      vertical-align: center;
      //height: 16px;
      margin-right: 0;

      .edst-outer-button {
        display: inline-flex;
        //height: 20px;
        margin-left: 6px;
        margin-right: 6px;
        justify-content: center;
        align-items: center;

        .edst-inner-button {
          width: 75px;
        }
      }

      &.small {
        height: 16px;
      }
    }

    &.right {
      justify-content: right;
      display: flex;
      margin-left: auto
    }

    .input {
      align-items: center;
      vertical-align: center;
      display: flex;
      padding: 0;
      overflow: hidden;
      border-top: 2px solid $options-menu-medium-grey;
      border-left: 2px solid $options-menu-medium-grey;
      border-bottom: 2px solid $options-menu-background-medium-grey;
      border-right: 2px solid $options-menu-background-medium-grey;

      .ppos {
        border: 2px solid transparent;
        border-right: none;
        padding: 0 2px;
        width: 120px;
        font-size: 16px;
        color: $options-menu-medium-grey;
      }

      .route-input {
        justify-content: left;
        display: flex;
        flex-grow: 1;
        //border-top: 2px solid $options-menu-background-medium-grey;
        //border-left: 2px solid $options-menu-background-medium-grey;
        //border-bottom: 2px solid $options-menu-medium-grey;
        //border-right: 2px solid $options-menu-medium-grey;
      }

      &.speed-input {
        display: inline-flex;
        margin-left: 20px;
        height: 16px;
        width: 40px;
      }

      &.efc-input {
        display: inline-flex;
        margin-left: 20px;
        margin-right: 0;
        height: 17px;
        width: 55px;

        input {
          width: 100%;

          &:hover {
            border: 1px solid transparent;
          }
        }

        &:hover {
          outline: 1px solid $options-menu-hover-white;
        }
      }

      input {
        //display: flex;
        cursor: default;
        font-size: 16px;
        outline: none;
        flex: 1;
        //width: 100%;
        //width: calc(100% - 115px);
        //margin: 0 5px;
        color: $edst-font-grey;
        background-color: #000000;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid $options-menu-hover-white;
        }
      }
    }
  }
}

.vatsim-logo {
  background-image: url(../images/VATSIM-social_icon.svg);
}

.skyvector-logo {
  background-image: url('../images/glob_bright.png');
}

.flightaware-logo {
  background-image: url('../images/FA_1.png');
}
