@import "../styles";

$pd-border-grey: #888888;
$pd-border-light-grey: #ADADAD;

.plans-display {
  display: block;
  white-space:nowrap;
  overflow: hidden;
  min-height: 400px;
  margin: 2px;
  flex-grow: 1;
  border: 3px solid $pd-border-grey;
  outline: 1px solid $pd-border-light-grey;
  color: $edst-font-grey;
}

.plans-display-body {
  overflow: hidden;
  display: block;
  flex-flow: column;
  border-top: 1px solid $pd-border-light-grey;
  /*scrollbar-width: none;  !* Firefox *!*/
  color: $edst-font-grey;
}
