@font-face {
  font-family: EDST;
  src: url("../assets/fonts/EDSTv200.ttf");
}

@font-face {
  font-family: ERAM;
  src: url("../assets/fonts/ERAMv200.ttf");
}

@font-face {
  font-family: MyConsolas;
  src: url("../assets/fonts/CONSOLAB.TTF");
}
