@use "icons.css";
@value grey from "colors.css";

.fontSize1 {
  font-size: 14px;
}
.fontSize2 {
  font-size: 17px;
}
.fontSize3 {
  font-size: 20px;
}

@mixin brightness {
  color: rgba(173, 173, 173, var(--brightness, 1));

  &:global(.selected) {
    color: #000000;
    background-color: rgba(173, 173, 173, var(--brightness, 1));
  }
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.noPointerEvents {
  pointer-events: none;
}

.scrollContainer {
  height: auto;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;

  &.barLeft {
    transform: scaleX(-1); /* Reflects the parent horizontally */

    & > div {
      transform: scaleX(-1); /* Flips the child back to normal */
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    //border-radius: 2px;
    display: unset;
    background-color: #adadad;
  }

  &.bounded-scroll {
    max-height: 40em;
  }
}

.draggingOutline {
  position: fixed;
  pointer-events: all;
  z-index: 30000;
  background-color: transparent;
  border: 1px solid #ffffff;

  &.absolute {
    position: absolute;
  }
}

.bgBlack {
  background-color: #000000;
}

.tm6 {
  margin-top: 6px;
}

.w5 {
  width: 5ch;
}
.w6 {
  width: 6ch;
}
.w8 {
  width: 8ch;
}
.w9 {
  width: 9ch;
}
.w14 {
  width: 14ch;
}
.w23 {
  width: 23ch;
}

.isDisabled {
  pointer-events: none;
  color: var(--disabled-color, #575757);
}

.left {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.flexGrow {
  flex-grow: 1 !important;
}

.noGrow {
  flex-grow: 0 !important;
}

.topBorder {
  border-top: 1px solid #adadad;
}

.bottomBorder {
  border-bottom: 1px solid #adadad;
}

.draggingOutline {
  position: fixed;
  pointer-events: all;
  z-index: 30000;
  background-color: transparent;
  border: 1px solid #ffffff;
}
