@value grey from "colors.css";

.body {
  position: relative;
  overflow: hidden;
  min-width: 500px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.datablock {
  font-family: ERAM, monospace;
  position: absolute;
  font-size: 15px;
  line-height: 1;
  width: 9ch;
  color: #adadad;
}

.dbRow {
  display: flex;
  width: 9ch;
}

.dbElement {
  height: 1em;
  border: 1px solid transparent;
  margin: 0 1px;
  padding: 0 1px;
  flex-grow: 1;
  min-width: 3ch;
  display: inline-flex;
  background-color: transparent;
  color: grey;

  :hover {
    border: 1px solid #adadad;
  }

  &:global(.selected) {
    color: #000000;
    background-color: grey;
  }
}

.leaderline {
  position: relative;
  top: 5px;
  left: 5px;
  background-color: grey;
  transform-origin: bottom left;
  height: 1px;
}
