
.edst-plan-options-button {
    width: 160px;
}

.edst-hold-button {
    width: 94px;
}

.edst-show-button {
    width: 52px;
}

.edst-show-all-button {
    width: 108px;
}

.edst-sort-button {
    width: 94px;
}

.edst-tools-button {
    width: 108px;
}

.edst-posting-mode-button {
    width: 164px;
}

.edst-template-button {
    width: 140px;
}

.edst-clean-up-button {
    width: 108px;
}