
.edst-plan-options-button {
    width: 170px;
}

.edst-hold-button {
    width: 80px;
}

.edst-show-button {
    width: 52px;
}

.edst-show-all-button {
    width: 90px;
}

.edst-sort-button {
    width: 80px;
}

.edst-tools-button {
    width: 90px;
}

.edst-posting-mode-button {
    width: 120px;
}

.edst-template-button {
    width: 110px;
}

.edst-clean-up-button {
    width: 90px;
}