@import "styles";

$edst-window-header-border-light-grey: #ADADAD;
$edst-window-header-button-border-medium-grey: #888888;
$edst-window-header-button-border-dark-grey: #575757;

$edst-window-header-button-disabled-font-grey: #707070;
$edst-window-header-button-disabled-border-grey: #707070;
$edst-window-header-button-hover-border: #FFFFFF;
$edst-window-header-outage-background-red: #590000;
$edst-windowl-header-window-open-light-grey: #595959;

.outer-button {
  @include outer-button;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.edst-window-button {
  display: flex;
  font-size: 17px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: $edst-font-grey;
  border-bottom: 2px solid $edst-window-header-button-border-dark-grey;
  border-right: 2px solid $edst-window-header-button-border-dark-grey;
  border-top: 2px solid $edst-window-header-button-border-medium-grey;
  border-left: 2px solid $edst-window-header-button-border-medium-grey;
  padding: 0 4px;

  &[disabled] {
    pointer-events: none;
    color: $edst-window-header-button-disabled-font-grey;
  }
}

.edst-window-header-bottom-row {
  align-items: center;
  display: flex;
  padding: 0 10px;
  border-top: 1px solid $edst-window-header-border-light-grey;
  /* border-bottom: 1px solid $edst-window-header-border-light-grey; */

  .input-container {
    @include input-container;
    display: inline-flex;
    border: 1px solid #000000;
    margin: 1px 8px;
    width: 68px;
  }
}