@use "global.scss";
@use "borderStyles.scss";
@use "input.module.scss";

.root {
  composes: root from "movableMenu.module.scss";
  --width: 40ch;
}

.fixContainer {
  @include global.noSelect;
  padding: 4px 0;
  border-bottom: 1px solid #adadad;
}

.row1 {
  composes: row from "movableMenu.module.scss";
  @include global.noSelect;
  justify-content: space-between;
}

.row2 {
  composes: row from "movableMenu.module.scss";
  padding-bottom: 2px;
  border-bottom: 1px solid #adadad;
}

.col {
  display: flex;
  flex-grow: 1;
  flex-flow: row;
  font-size: inherit;
  min-height: 1em;
  align-items: center;
  vertical-align: center;
  border: 1px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 4px;
  justify-content: flex-start;
}

.leftCol {
  display: flex;
  margin-left: 10px;
  flex-grow: 0;
  padding: 0;
  border-bottom: 1px solid #adadad;
}

.eftCol {
  justify-content: right;
  display: flex;
  margin-left: auto;
}

.fixCol {
  composes: col;
  @include borderStyles.borderHover;
  justify-content: left;
  display: inline-flex;
  height: 1em;
  padding: 0 4px;
  flex-grow: 0;
  width: 16ch;
  margin: 0 12px;
}

.colContainer {
  width: 30%;
  justify-content: center;
  text-align: center;
}


.col2 {
  display: inline-flex;
  justify-content: center;
  flex-grow: 0;
  border-bottom: 1px solid #adadad;
}

.col3 {
  display: inline-flex;
  margin-top: 2px;
  [class~="isDisabled"] {
    border-color: transparent;
  }
}

.col5 {
  composes: col;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.efcCol {
  composes: col;
  justify-content: left;
  align-items: center;
  margin-right: auto;
}

.efcInputContainer {
  margin-right: 0;
}