.circle-icon {
    background-image: url("../assets/images/Circle.svg");
}

.diamond-icon {
    background-image: url("../assets/images/Diamond.svg");
}

.track-icon {
    background-image: url("../assets/images/Diamond.svg");
    position: absolute;
    translate: -5px -5px;
    width: 10px;
    height: 10px;
}

.square-icon {
    background-image: url("../assets/images/Square.svg");
}

.plus-icon {
    background-image: url("../assets/images/Plus.svg");
}

.vatsim-logo {
    background-image: url("../assets/images/VATSIM-social_icon.svg");
}

.skyvector-logo {
    background-image: url("../assets/images/glob_bright.png");
}

.flightaware-logo {
    background-image: url("../assets/images/FA_1.png");
}