@use "global.scss";
@use "borderStyles.scss";
@value grey, buttonBlue from "colors.css";

.root {
  composes: root from "movableMenu.module.scss";
  --width: 58ch;
}

.row {
  display: flex;
}

.icon {
  composes: col from "optionMenu.module.scss";;
  max-width: 1em;
  max-height: 1em;

  * a {
    height: auto;
  }

  img {
    //transform: scale(0.2);
  }
}

.inputContainer {
  align-items: center;
  vertical-align: center;
  display: flex;
  flex-grow: 1;
  padding: 0;
  overflow: hidden;
  border: 1px solid #adadad;

  input {
    @include borderStyles.borderHover;
    outline: none;
    font-size: 17px;
    flex: 1;
    width: 100%;
    color: #d6d6d6;
    background-color: #000000;
    border: 1px solid transparent;
  }
}

.route {
  @include global.noSelect;
  align-items: center;
  overflow-wrap: anywhere;
  vertical-align: center;
  display: flex;
  flex-grow: 1;
  padding: 0 2px;
  overflow: hidden;
  border: 1px solid #adadad;
  margin-top: 0;
  margin-bottom: 2px;
}

.ppos {
  border: 2px solid transparent;
  border-right: none;
  padding: 0 2px;
  min-width: 11ch;
  max-width: 13ch;
  width: fit-content;
  text-align: right;
  color: #888888;
}

.dct {
  @include global.noSelect;
  composes: col from "optionMenu.module.scss";
  @include borderStyles.borderHover;
  max-width: 11ch;
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
  height: 1.1em;
  padding: 0 4px;
  --col-margin: auto 12px;
}

.pContainer {
  border-top: 1px solid #adadad;
}

.prefrouteContainer {
  @include global.noSelect;
  border: 2px solid #414141;
  max-height: 6em;
  font-size: 16px;
  margin-bottom: 2px;
  padding-bottom: 1px;
}

.prefrouteRow {
  composes: row;
  padding-left: 1.4ch;
}

.prefrouteCol {
  composes: col from "optionMenu.module.scss";
  @include global.noSelect;
  @include borderStyles.borderHover;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin-right: 0;
  padding-left: 4px;
}