@use "borderStyles.scss";
@use "optionMenu.module.scss";
@use "global.scss";

.root {
  composes: root from "optionMenu.module.scss";
  @include global.noSelect;
  --width: 25ch;
}

.header {
  composes: header from "optionMenu.module.scss";
}

.body {
  composes: body from "optionMenu.module.scss";
  @include borderStyles.border;
  --body-padding: 4px 4px 0 4px;
}

.sectorRow {
  display: flex;
  flex-grow: 1;
  justify-content: left;
  border: none;
  overflow: hidden;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #adadad;
}

.col {
  composes: col from "optionMenu.module.scss";
  @include borderStyles.borderHover;
  align-items: center;
  height: 1.2em;
  padding: 0 6px;
}