@font-face {
  font-family: EDST;
  src: url('./fonts/EDST.ttf');
}

@font-face {
  font-family: SPLEEN;
  src: url('./fonts/spleen-8x16.otf');
}

@font-face {
  font-family: RETRO_GAMING;
  src: url('./fonts/Retro Gaming.ttf');
}

@font-face {
  font-family: VCS_MONO;
  src: url('./fonts/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
  font-family: TERMINUS;
  src: url('./fonts/TerminusTTF-Bold-4.49.1.ttf');
}

$eram-cursor: url("cursors/ERAMCursor2.cur"), default;
$eram-delete-cursor: url("cursors/ERAMDeletionCursor.cur"), default;

$default-font-family: TERMINUS;
$default-font-size: 17px;
$default-input-font-size: 16px;

$default-cursor: default;
$default-delete-cursor: default;

$edst-background-black: #000000;
$edst-font-grey: #ADADAD;
$edst-font-yellow: #ADAD00;
$edst-font-red: #AD0000;
$edst-font-orange: #AD5700;
$edst-font-green: #00AD00;
$edst-font-blue: #00ADAD;

$edst-window-light-cyan: #008585;
$edst-window-dark-cyan: #005757;
$edst-window-light-grey: #888888;
$edst-window-dark-grey: #575757;
$edst-window-coral: #D698A5;

button {
  font-family: $default-font-family;
  //font-weight: bold;
  -webkit-font-smoothing: none;
  cursor: $default-cursor;
}

input, textarea {
  caret-color: $edst-font-grey;
  font-family: $default-font-family;
  -webkit-font-smoothing: none;
  cursor: $default-cursor;
  font-size: $default-input-font-size;
  outline: none;
  display: flex;
  //overflow: hidden;
  overflow-wrap: anywhere;
  color: $edst-font-grey;
  border: none;
  caret: underscore;
  background-color: #000000;
}

.delete-cursor {
  cursor: $default-delete-cursor;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin input-container {
  border: 1px solid transparent;

  input, textarea {
    width: calc(100% - 7px);
    //height: calc(100% - 9px);
    font-size: 16px;
    outline: none;
    display: flex;
    overflow: hidden;
    color: $edst-font-grey;
    border-top: 2px solid $edst-window-dark-grey;
    border-left: 2px solid $edst-window-dark-grey;
    border-bottom: 2px solid $edst-window-light-grey;
    border-right: 2px solid $edst-window-light-grey;
    background-color: #000000;
    resize: none;

    &:hover {
      outline: 1px solid #FFFFFF;
    }
  }
}
