@font-face {
    font-family: EDST, monospace;
    src: url('./fonts/EDST.ttf')
}

$default-cursor: url("cursors/ERAMCursor2.cur"), default;
$delete-cursor: url("cursors/ERAMDeletionCursor.cur"), default;

$edst-background-black: #000000;
$edst-font-grey: #ADADAD;
$edst-font-yellow: #ADAD00;
$edst-font-red: #AD0000;
$edst-font-orange: #AD5700;
$edst-font-green: #00AD00;
$edst-font-blue: #00ADAD;

$edst-window-light-cyan: #008585;
$edst-window-dark-cyan: #005757;
$edst-window-light-grey: #888888;
$edst-window-dark-grey: #575757;

.edst {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: Consolas, monospace;
  caret-color: transparent;

  cursor: $default-cursor;
}

button {
  font-family: Consolas, monospace;
  font-weight: bold;
  cursor: $default-cursor;
}

input, textarea {
  caret-color: $edst-font-grey;
  font-family: Consolas, monospace;
  cursor: $default-cursor;
  font-size: 16px;
  outline: none;
  display: flex;
  //overflow: hidden;
  overflow-wrap: anywhere;
  color: $edst-font-grey;
  border: none;
  //caret: underscore;
  background-color: #000000;
}

.edst-body {
  overflow: hidden;
  flex-flow: column;
  position: absolute;
  top: 36px;
  left: 0;
  height: calc(100vh - 36px);
  width: 100vw;
  flex-grow: 1;
  display: flex;

  &.hide-cursor {
    cursor: none;
  }

  .edst-dragging-outline {
    background-color: transparent;
    border: 1px solid #FFFFFF;
  }
}

.dragging-cursor {
  z-index: 999;
  width: auto;
  height: auto;
  transform: translate(-25%, -25%);
  content: url('cursors/ERAMCursor2.cur');
}

.delete-cursor {
  cursor: $delete-cursor;  
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin input-container {
  border: 1px solid transparent;

  input, textarea {
    width: calc(100% - 7px);
    //height: calc(100% - 9px);
    cursor: default;
    font-size: 16px;
    outline: none;
    display: flex;
    overflow: hidden;
    color: $edst-font-grey;
    border-top: 2px solid $edst-window-dark-grey;
    border-left: 2px solid $edst-window-dark-grey;
    border-bottom: 2px solid $edst-window-light-grey;
    border-right: 2px solid $edst-window-light-grey;
    background-color: #000000;
    resize: none;

    &:hover {
      outline: 1px solid #FFFFFF;
    }
  }
}