@font-face {
  font-family: EDST;
  src: url('../resources/fonts/EDSTv200.ttf');
}

@font-face {
  font-family: ERAM;
  src: url('../resources/fonts/ERAMv200.ttf');
}

@font-face {
  font-family: SPLEEN;
  src: url('../resources/fonts/spleen-8x16.otf');
}

@font-face {
  font-family: RETRO_GAMING;
  src: url('../resources/fonts/Retro Gaming.ttf');
}

@font-face {
  font-family: VCS_MONO;
  src: url('../resources/fonts/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
  font-family: TERMINUS;
  src: url('../resources/fonts/TerminusTTF-Bold-4.49.1.ttf');
}

@font-face {
  font-family: MyConsolas;
  src: url('../resources/fonts/CONSOLAB.TTF');
}

$eram-cursor: url("src/resources/cursors/ERAMCursor2.cur"), default;
$eram-delete-cursor: url("src/resources/cursors/ERAMDeletionCursor.cur"), default;


.circle-icon {
  background-image: url("../resources/images/Circle.svg");
}

.diamond-icon {
  background-image: url("../resources/images/Diamond.svg");
}

.square-icon {
  background-image: url("../resources/images/Square.svg");
}

.plus-icon {
  background-image: url("../resources/images/Plus.svg");
}

.aircraft-track-line {
  background: transparent;
}

.vatsim-logo {
  background-image: url('../resources/images/VATSIM-social_icon.svg');
}

.skyvector-logo {
  background-image: url('../resources/images/glob_bright.png');
}

.flightaware-logo {
  background-image: url('../resources/images/FA_1.png');
}