@font-face {
  font-family: EDST;
  src: url('../resources/fonts/EDSTv200.ttf');
}

@font-face {
  font-family: ERAM;
  src: url('../resources/fonts/ERAMv200.ttf');
}

@font-face {
  font-family: MyConsolas;
  src: url('../resources/fonts/CONSOLAB.TTF');
}


.circle-icon {
  background-image: url("../resources/images/Circle.svg");
}

.diamond-icon {
  background-image: url("../resources/images/Diamond.svg");
}

.square-icon {
  background-image: url("../resources/images/Square.svg");
}

.plus-icon {
  background-image: url("../resources/images/Plus.svg");
}

.vatsim-logo {
  background-image: url('../resources/images/VATSIM-social_icon.svg');
}

.skyvector-logo {
  background-image: url('../resources/images/glob_bright.png');
}

.flightaware-logo {
  background-image: url('../resources/images/FA_1.png');
}