@import "../styles";

$edst-header-button-border-grey: #ADADAD;
$edst-header-button-disabled-font-grey: #707070;
$edst-header-button-disabled-border-grey: #707070;
$edst-header-font-yellow: #A3A300;
$edst-header-button-border-yellow: #A3A300;
$edst-header-button-hover-border: #FFFFFF;
$edst-header-outage-background-red: #590000;
$edst-header-window-open-light-grey: #595958;
$edst-header-window-closed-black: #000000;

.edst-header {
  width: 100vw;
  position: absolute;
  z-index: 999;
}

.edst-header-row {
  height: 30px;
  margin: 2px 0;
  justify-content: space-between;
  display: flex;
  //font-family: 'VRC Terminal', monospace;

  .edst-header-row-left {
    margin: 1px 1px;
    display: inline-flex;
  }

  .edst-header-row-left-2 {
    margin-left: 73px;
  }

  .edst-header-row-right {
    margin: 1px 1px;
    display: inline-flex;
  }

  * span {
    display: inline-flex;
  }

  * button {
    z-index: 999;
    display: flex;
    justify-content: center;
    line-height: 13px;
    width: 70px;
    height: 30px;
    margin: 0 1px;
    border: 1px solid $edst-header-button-border-grey;
    background-color: $edst-background-black;
    color: $edst-font-grey;
    //font-family: 'VRC Terminal', monospace;
    font-size: 13px;
    font-weight: bolder;

    &:hover {
      border: 1px solid $edst-header-button-hover-border;
    }

    &.small {
      width: 50px;
    }

    &.tiny {
      font-weight: normal;
      width: 18px;
    }

    &.open {
      background-color: $edst-header-window-open-light-grey;
    }

    &.red-bg {
      background-color: $edst-header-outage-background-red;
    }

    &.yellow-border {
      border: 1px solid $edst-header-button-border-yellow;
      color: $edst-header-font-yellow;

      &:hover {
        border: 1px solid $edst-header-button-hover-border;
      }

      &:disabled {
        border: 1px solid $edst-header-button-disabled-border-grey;
        color: $edst-header-button-disabled-font-grey;
      }
    }

    &.yellow-background {
      background-color: $edst-header-button-border-yellow;
      color: #000000;
    }

    &:hover {
      border: 1px solid $edst-header-button-hover-border;
    }

    &:disabled {
      border: 1px solid $edst-header-button-disabled-border-grey;
      color: $edst-header-button-disabled-font-grey;
    }
  }
}

.edst-header-time {
  display: inline-flex;
  justify-content: center;
  height: 30px;
  line-height: 28px;
  width: 100px;
  margin: 0 1px;
  color: $edst-font-grey;
  font-size: 20px;
  /*font-family: Consolas, sans-serif;*/
}