
:root {
    --edst-header-button-border-grey: #ADADAD;
    --edst-header-button-disabled-font-grey: #707070;
    --edst-header-button-disabled-border-grey: #707070;
    --edst-header-font-yellow: #A3A300;
    --edst-header-button-border-yellow: #A3A300;
    --edst-header-button-hover-border: #FFFFFF;
    --edst-header-outage-background-red: #590000;
    --edst-header-window-open-light-grey: #595958;
    --edst-header-window-closed-black: #000000;
}

.edst-header {
    width: 100vw;
    position: absolute;
    z-index: 999;
}

.edst-header-row {
    height: 30px;
    margin: 2px 0;
    justify-content: space-between;
    display: flex;
    font-family: 'VRC Terminal', monospace;
}

.edst-header-row .edst-header-row-left {
    margin: 1px 1px;
    display: inline-flex;
}

.edst-header-row .edst-header-row-left-2 {
    margin-left: 73px;
}

.edst-header-row .edst-header-row-right {
    margin: 1px 1px;
    display: inline-flex;
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button {
    z-index: 999;
    display: inline-flex;
    justify-content: center;
    line-height: 13px;
    width: 70px;
    height: 30px;
    margin: 0 1px;
    border: 1px solid var(--edst-header-button-border-grey);
    background-color: var(--edst-background-black);
    color: var(--edst-font-grey);
    font-family: 'VRC Terminal', monospace;
    font-size: 13px;
    font-weight: bolder;
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button:hover {
    border: 1px solid var(--edst-header-button-hover-border);
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button.small {
    width: 50px;
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button.tiny {
    width: 18px;
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button.enabled {
    background-color: var(--edst-header-window-open-light-grey);
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button.red-bg {
    background-color: var(--edst-header-outage-background-red);
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button.yellow-border {
    border: 1px solid var(--edst-header-button-border-yellow);
    color: var(--edst-header-font-yellow);
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button.yellow-background {
    background-color: var(--edst-header-button-border-yellow);
    color: #000000;
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button:hover, button.yellow-border:hover {
    border: 1px solid var(--edst-header-button-hover-border);
}

.edst-header-row :is(.edst-header-row-left-2, .edst-header-row-left, .edst-header-row-right) > button:disabled {
    border: 1px solid var(--edst-header-button-disabled-border-grey);
    color: var(--edst-header-button-disabled-font-grey);
}

.edst-header-time {
    display: inline-flex;
    justify-content: center;
    height: 30px;
    line-height: 28px;
    width: 100px;
    margin: 0 1px;
    color: var(--edst-font-grey);
    font-size: 20px;
    /*font-family: Consolas, sans-serif;*/
}